<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/save-image" enctype="multipart/form-data">
        <input type="file" name="image" id="">
        <button>submit</button>
    </form >
    <img/>
    <script src="https://cdnjs.cloudfare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    
</body>
</html>